<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>KOMIGOR file manager</title>
  </head>
  <body>
    <form action="{% url 'download_file' %}" method="post" target="_self" autocomplete="off">
      {% csrf_token %}
      <fieldset>
        <legend>Choose destination</legend>
        <label>Directory</label>
        <select id="destdir" name="destdir">
          <label>Link</label>
          <input type="url" id="sourcelink" name="sourcelink">
          {% for dir in existing_dirs %}
            <option value="{{ dir }}">{{ dir }}</option>
          {% endfor %}
          <input type="submit" value="Submit">
        </select>
      </fieldset>
    </form>
  </body>
</html>