<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Выложить файл</title>
  </head>
  <body>
    <form action="{% url 'yapload' %}" method="post" target="_self" autocomplete="off">
      {% csrf_token %}
      <fieldset>
        <legend>Выберите файл и почту</legend>
        <label>Выбранная папка</label>
        <select id="chosen" name="chosen">
          <option>{{ chosen_dir }}</option>
        </select>
        <br>
        <label>Файл</label>
        <select id="fpath" name="fpath">
          {% for file in existing_dirs %}
            <option value="{{ file }}">{{ file }}</option>
          {% endfor %}
        </select>
        <label>Введите почту, куда отправить ссылку на файл</label>
        <input type="email" id="destemail" name="destemail">
        <input type="submit" value="Отправить">
      </fieldset>
    </form>
  </body>
</html>